<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
    <meta name="keywords" content="DANCE, CULTURE, STREET ">
    <meta name="description" content="영화 예매 사이">
    <title>CIGABOX</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css">
    <link rel="stylesheet" href="stylesheets/modal-video.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@700&display=swap" rel="stylesheet">
    <style>

        .navbar{
            background-color: #1d2124 !important;
        }
        .btn-primary{
            color : white !important;
        }
        h5{font-family: 'Noto Sans KR', sans-serif;}
        h1{font-family: 'Noto Sans KR', sans-serif;}
        h4{font-family: 'Noto Sans KR', sans-serif;}
        h2{font-family: 'Noto Sans KR', sans-serif;}
        h3{font-family: 'Noto Sans KR', sans-serif;}
        p{font-family: 'Noto Sans KR', sans-serif;}
        .column#caption {
            position: relative;
        }

    </style>
</head>
<body>
<style type="text/css">
    img{
        max-width: 100%;
        height: auto !important;
    }
    footer { padding: 50px 0; text-align: center; background-color: #383a3f; color:white;
    }

    footerul li { display: inline; }
    footerul a { font-size: 18px; margin: 0 15px; }
    a:link { color: #513926; }
    a:visited { color: #513926; }
    a:hover { color: #7F593C; }
</style>
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/"><img src="images/home.png" width="40" height="40" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <a class="navbar-brand" href="/"><strong>Home</strong></a>
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">

                <li class="nav-item active">
                    <a class="nav-link" style="color:#ffffff" href="logout">Logout<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" style="color:#ffffff" href="#" data-toggle="modal" data-target="#ticketlist"><%=user.name%>님의 TICKET<span class="sr-only">(current)</span></a>
                </li>

            </ul>
        </div>
    </nav>
</header>



<main class="container my-1 " >

    <div class="pricing-header px-3 py-1 pt-md-3 pb-md-1 mx-auto text-center">
        <h3 class="display-6 font-weight-bold" >LIST</h3>

    </div>
    <hr class="my-2" style="color: white" >
    <hr class="my-2" style="background: #000000; border: black; height: 3px;">

    <section id="carousel-3" class="text-center">

        <table  class="table table-hover">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">TITLE</th>
                <th scope="col">THEATHER</th>
                <th scope="col">HOLE</th>
                <th scope="col">DATE</th>
                <th scope="col">PRICE</th>
                <th scope="col">남은좌석</th>
            </tr>
            </thead>
            <tbody>
            <% for(var i=0; i<p_data.length; i++){%>
            <form action="/select" method="post" id="<%=i%>" >

                <tr onclick="x(<%=p_data[i].p_id%>)">
                    <th scope="row"><%=i+1%></th>
                    <td><%=p_data[i].m_title%></td>
                    <td><%=p_data[i].t_area%></td>
                    <td><%=p_data[i].h_number%></td>
                    <td><%=p_data[i].start.substring(0,2)%>월 <%=p_data[i].start.substring(2,4)%>일 <%=p_data[i].start.substring(4,6)%>시</td>
                    <td><%=p_data[i].price%></td>
                    <td><%=p_data[i].people%></td>
                </tr>

            </form>
            <%}%>
            </tbody>
        </table>

        <hr class="my-3" >
        <section id="examples" class="text-center">
            <div class="col-lg-12" id="ex1_Result1" ></div>
            <div class="col-lg-12" id="ex1_Result2" ></div>


        </section>

        <hr class="my-4" style="background-color: white">
    </section>
</main>

<footer class="mastfoot mt-auto " id="foot">

</footer>

<div class="modal fade" id="ticketlist" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"><%=user.name%>님의 TICKET</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">
                <table  class="table table-hover table-bordered">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">TITLE</th>
                        <th scope="col">THEATHER</th>
                        <th scope="col">HOLE</th>
                        <th scope="col">SEAT</th>
                        <th scope="col">DATE</th>

                    </tr>
                    </thead>
                    <tbody>
                    <%for(var i=0; i<l_data.length; i++){%>
                    <tr>
                        <th scope="row"><%=i+1%></th>
                        <td><%=l_data[i].m_title%></td>
                        <td><%=l_data[i].t_area%></td>
                        <td><%=l_data[i].h_number%></td>
                        <td><%=l_data[i].seat_n%></td>
                        <td><%=l_data[i].start.substring(0,2)%>월 <%=l_data[i].start.substring(2,4)%>일 <%=l_data[i].start.substring(4,6)%>시</td>

                    </tr>
                    <%}%>
                    </tbody>

                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">확인</button>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="javascripts/bootstrap.js"></script>

<script>
function x(k){

    $.ajax({
        url: '/select',
        dataType: 'json',
        type: 'POST',
        data: {data:k},
        success:function (){
            window.location.href='/reserve';
        }
    });
}
</script>
</body>
</html>